body{
    display: flex;
    flex-direction: column;
    width: 250px; 
    height: 400px;

    background-color: black;
}

input[type="text"] { 
    height: 100%; 
    background: none;
    border: none;    
    outline: none;   

    font-size: medium;
}

#SearchBox{
    width: 100%;
    background-color: antiquewhite;
    flex: 1.2;
}

#ContentBox{
    width: 100%;
    background-color: beige;
    flex : 10;
}