body{
    row-gap: 5px;
}

#SearchBox {
    flex: 1.2;
    background-color: var(--box-background-color);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    display: flex;
}

#SearchBox input{
    flex: 10;

    width: 100%;
    height: 100%;
    display: block;

    background: none;
    border: none;
    outline: none;

    font-size: medium;
    box-sizing: border-box;
}
#SearchButton {
    flex: 1;
    border: none;
    background: none;

    display: flex;
    align-items: center;    
    justify-content: center; 
}
#SearchButton:hover{
    cursor: pointer;
}
#SearchButton img{
    width: 20px;
    height: 20px;
}

#ContentBox {
    flex: 10;
    background-color: var(--box-background-color);
    border-radius: 10px;

    padding: 10px 7px;
    overflow: auto;
}
#ContentBox #AddBoomarkButton {
    border: none;
    background: none;

    display: flex;
    align-items: center;    
    justify-content: center; 

    position: absolute;
    bottom: 16px;
    right: 16px;
}
#ContentBox #AddBoomarkButton:hover{
    cursor: pointer;
}
#ContentBox #AddBoomarkButton img{
    width: 32px;
    height: 32px;
}

#BookmarksBox{
    flex : 1;

    display: flex;
    flex-direction: column;
    gap : 10px;

    cursor: pointer;
}
.BookmarkBox{
    display: flex;
    flex-direction: column;

    left : 0;
    right : 0;
    height: auto;
    padding: 5px;
    
    background-color: pink;
    border-radius: 10px;
}
.BookmarkBox:hover{
    background-color: rgb(253, 208, 215);
}
.BookmarkBox:has(#DeleteButton img:hover){
    background-color: pink; /* 기본색으로 되돌림 */
}
.BookmarkBox:has(#SettingButton img:hover){
    background-color: pink; /* 기본색으로 되돌림 */
}
.BookmarkBox #UpperBox{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}
.BookmarkBox #UpperBox #SettingButton{
    all: unset;  /* TODO : refactor this fuccking shit */
    display: inline;

    display: flex;
    align-items: center;
}
.BookmarkBox #SettingButton img{
    width: 18px;
    height: 18px;
}
.BookmarkBox #SettingButton img:hover{
    background-color: aliceblue;
}

.BookmarkBox #UpperBox #Name{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    min-width: 0;
    
    overflow: auto;
}
.BookmarkBox #Url{
    text-decoration: underline;
    overflow: auto;
}
.BookmarkBox #DeleteButton{
    all: unset;  /* TODO : refactor this fuccking shit */
    display: block;

    display: flex;
    align-items: center;
    /* align-self: flex-end; */

    margin-top: 5px;
}
.BookmarkBox #DeleteButton img:hover{
    background-color: aliceblue;
}
.BookmarkBox #DeleteButton img{
    width: 16px;
    height: 16px;
}