body{
    row-gap: 5px;
}

#SearchBox {
    flex: 1.2;
    background-color: var(--box-background-color);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    display: flex;
}

#SearchBox input{
    flex: 10;

    width: 100%;
    height: 100%;
    display: block;

    background: none;
    border: none;
    outline: none;

    font-size: medium;
    box-sizing: border-box;
}
#SearchButton {
    flex: 1;
    border: none;
    background: none;

    display: flex;
    align-items: center;    
    justify-content: center; 
}
#SearchButton:hover{
    cursor: pointer;
}
#SearchButton img{
    width: 20px;
    height: 20px;
}

#ContentBox {
    flex: 10;
    background-color: var(--box-background-color);
    border-radius: 10px;

    padding: 10px 7px;
}
#ContentBox button {
    border: none;
    background: none;

    display: flex;
    align-items: center;    
    justify-content: center; 

    position: absolute;
    bottom: 16px;
    right: 16px;
}
#ContentBox button:hover{
    cursor: pointer;
}
#ContentBox button img{
    width: 32px;
    height: 32px;
}

#BookmarksBox{
    flex : 1;

    display: flex;
    flex-direction: column;
    gap : 10px;

    cursor: pointer;
}
.BookmarkBox{
    left : 0;
    right : 0;
    height: auto;
    padding: 5px;
    
    background-color: pink;
    border-radius: 10px;
}
.BookmarkBox:hover{
    background-color: rgb(253, 208, 215);
}
.BookmarkBox #Name{
    font-size: large;
    font-weight: bold;
}
.BookmarkBox #Url{
    text-decoration: underline;
}